*{margin: 0; padding: 0; font-family: arial;}


section {
	width: 100%;
	height: 100vh; 
	float: left; 
	padding-top: 70px;
	color: #66FCF1;
}

/*navigation*/
nav li {
	display:inline-block;
	padding: 0px 10px;
}




/*sections*/
#debruin-section {
	background:url("windamer.jpeg");
    background-size: cover;  
    color: #0b0c10;
    font-size: 30px;
    text-align: center;
}

#debruin-text {
	font-size: 100px;
	margin-top: 220px;
	font-family: "Helvetica Neue Thin", Helvetica, sans-serif;
}

#about-section {
	background: #1F2833;
}

#about-pic {
	border-radius: 25px;
}

#about-text {
	text-align: left;
	color: #66FCF1;
}

#projects-section {
	background: #2e3c4c;
}

#contact-section {
	background: #1F2833;
}